@import '../../styles.scss';

.ani-underline {
  position: relative;
  display: inline-block;
  padding: 0 4px;
  color: $primary-color;
  cursor: pointer;
}

.ani-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: $primary-color;
  transform: translateX(-50%);
  pointer-events: none;
  transition: all 0.3s ease;
}

.ani-underline:hover::after {
  width: 100%;
  transform: translate(-50%, 3px);
}

// ul {
//   position: relative;
//   left: 0;
//   top: 0;
//   height: 24px;
// }

.menu {
  overflow-x: hidden;
}

ul li {
  @extend .ani-underline;
  display: inline;
  padding: 0 3px;
}

.menu-list {
  height: 24px;
}

.menu-icon {
  margin: 16px;
  display: none;
}

@media (max-width: $bp-mobile) {
  .menu-icon {
    display: block;
  }

  .menu-list {
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 100%;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }

  .menu-list.open {
    width: 100%;
    left: 0;
  }

  // ul {
  //   position: absolute;
  //   width: 100vw;
  //   // height: 100vh;
  //   left: 50%;
  //   top: 0;
  //   padding: 0;
  //   transition: all 0.3s ease;
  // }
}