@import "../../styles.scss";

.about {
  margin: 100px 10%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.header-section {
  grid-area: 1 / 1 / 1 / 1;
}

.about-section {
  grid-area: 2 / 1 / 2 / 1;
}

.title {
  color: $primary-color;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1em;
}

h1 {
  color: $primary-color;
}

.sub-title {
  color: $secondary-color;
}

.content {
  color: $ternary-color;
}

div p {
  @extend .content;
  font-size: 16px;
  margin-bottom: 1em;
}