@import '../../../styles.scss';

.circle {
  border: 1px solid $base-color3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: $primary-color; 
  background-color: $secondary-color; 
  color: $text-color;
}

.center-orb {
  @extend .circle;
  height: 25vh;
  aspect-ratio: 1 /1;
  font-size: 75%;
  position: relative;
  text-align: center;
  // background-color: $secondary-color;
  background-color: $primary-color;
  border-color: $ternary-color;
  box-shadow: 3px 3px 3px $base-color2;
  transition: all .55s ease;
}

.outer-orb {
  @extend .circle;
  width: 50%;
  aspect-ratio: 1 / 1;
  font-size: 50%;
  position: absolute;
  text-align: center;
  transform: rotate(var(--angle)) translate((200%)) rotate(var(--negangle));
  transition: transform .25s ease-in-out;
}

.outer-orb:hover {
  transform: rotate(var(--angle)) translate((200%)) rotate(var(--negangle)) translateY(-10px);
  box-shadow: 3px 3px 10px $base-color;
}

@media (max-width: $bp-laptop) {
  .center-orb {
    height: 25vw;
    font-size: 50%;
  }
  
    .outer-orb {
      font-size: 75%;
    }
  }
  
@media (max-width: $bp-mobile) {
    .outer-orb {
      font-size: 50%;
    }    
}