@import '../../../styles.scss';

.proj-container {
  // width: 100%;
  // height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
  // border: 1px solid green;

  padding-bottom: .5em;
}

.proj-img {
  width: 100%;
  height: 100%;
  grid-area: 2 / 1 / 4 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  
  // border: 1px solid red
}

.proj-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5%;
}

.proj-content {
  grid-area: 1 / 3 / 5 / 9;  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  // border: 1px solid blue
}

@media (max-width: $bp-laptop) {
  .proj-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      cursor: pointer;
    }
  
    .proj-img {
      grid-area: 1 / 1 / 2 / 2;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1em;
    }
  
    .proj-img img {
      max-width: 50%;
      height: auto;
      // box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    }
  
    .proj-content {
      grid-area: 2 / 1 / 3 / 2;
      width: 100%;
    }
}

@media (max-width: $bp-mobile) {
  .proj-img {
    // grid-area: 1 / 2 / 4 / 8;
    grid-area: 1 / 1 / 1 / 1;
    visibility: hidden;
  }

  .proj-content {
    grid-area: 1 / 1 / 3 / 2;
  }
}