@import './styles.scss';

section {
  border: 1px solid black;
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 32px;
  // font-weight: bold;
  background: linear-gradient(270deg, $base-color 0%,
        $base-color2 28.53%,
        $base-color3 63.52%)
}
