// App Colors
$base-color: #F1F6F9;
$base-color2: #b8cfdc;
$base-color3: #95b6c9;
$primary-color: #394867;
$secondary-color: #424e6c;
$ternary-color: #212A3E;
$text-color: #ede8e8;

// App Breakpoints
$bp-desktop: 1800px;
$bp-laptop: 1024px;
$bp-tablet: 768px;
$bp-mobile: 560px;
// $bp-mobile: 480px;

// Global defaults
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

// Scrollbar
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: $base-color;
}

::-webkit-scrollbar-thumb {
  background: $base-color2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $base-color3;
}