// App Colors
$base-color: #F1F6F9;
$base-color2: #b8cfdc;
$base-color3: #95b6c9;
$primary-color: #394867;
$secondary-color: #212A3E;

// App Breakpoints
$bp-tablet: 768px;
$bp-mobile: 480px;

// Global defaults
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}